<html>

<body>
  <div>
    <%= link_to 'Back', :back, :class => 'link' %>
    <%= link_to 'Home', root_path, :class => 'link' %>
    <h1 style="text-align:center">Create new <%= @brand.name %> product</h1>
    <%= render 'form', product: @product %>
  </div>

</body>

</html>