body {
  background: #fdfdfd;
  color: #000305;
  font-size: 87.5%;
  font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.429;
  margin: 15px;
  padding: 0;
  text-align: left;
}

h2 {
  font-size: 1.571em;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 14px;
  text-align: center;
}

p {
  margin-bottom: 1.143em;
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

ul {
  list-style: outside disc;
  margin: 15px;
  padding: 0;
}

table {
  margin: .5em auto 1.5em auto;
  width: 100%;
  border: 1px solid black;
}

th {
  padding: .5em .4em;
  text-align: center;
  background: rgb(185, 185, 185);
}

td {
  padding: 15px 5px;
  text-align: center;
}

.top-nav {
  display: flex;
  justify-content: center;
}

input[type='search'] {
  margin: 0;
  height: 40px;
  margin-left: 25px;
}

button {
  padding: 10px 35px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: black;
  color: white;
}

a.link {
  background-color: #f4f4f4;
  height: fit-content;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 3px;
  text-decoration: none;
  color: black;
  margin-left: 15px;
}

a.link:hover {
  background-color: black;
  color: white;
}

.form-table input,
.nested-form input,
input.submit {
  padding: 10px 50px;
}

input.submit {
  margin: 30px 0;
}

.form-table select {
  padding: 10px 0px;
  width: 42%;
  text-indent: 40%;
}

textarea {
  width: 245px;
  height: 50px;
}

form {
  display: grid;
  justify-content: center;
}

.search-form {
  display: inline-block;
}

.form-table {
  border-radius: 5px;
  padding: 15px;
  background: #f4f4f4;
}

.nested-form {
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}

.nested-form input {
  margin: 0 15px;
}

.form-edit-select{
  width: 100% !important;
}