<html>

<body>
  <div class='form'>
  <%= form_with model: brand do |form| %>
  <table class='form-table'>
    <tr><td><%= form.text_field :name, placeholder: 'Name' %></td></tr>
    <tr><td><%= form.submit :class => 'submit' %></td></tr>
  </table>
  <% end %>
  </div>

</body>

</html>