<html>

<body>
  <div class='form' style='margin-left:40%'>
  <%= form_with model: brand do |form| %>
    <%= form.text_field :name, placeholder: 'Name' %><br>
    <%= form.submit :class => 'submit' %>
  <% end %>
  </div>

</body>

</html>