<html>

<body>
  <div>
    <%= link_to 'Back', :back, :class => 'link' %>
    <%= link_to 'Home', root_path, :class => 'link' %>
    <h1 style="text-align:center">Update brand</h1>
    <%= render 'form', brand: @brand %>
  </div>
</body>

</html>